<html>
<head>
    <title>Resumes - <%= result[0].resume_name %></title>
</head>
<body>
<h1>Resumes</h1>
<ul>
    <li>Resume ID: <%= result[0].resume_id%></li>
    <li>Resume Name: <%= result[0].resume_name %></li>
    <li>Account ID: <%= result[0].account_id %></li>
    <li>Account First & Last Name: <%= result[0].first_name %> <%= result[0].last_name %></li>
    <li>School: <%= result[0].school_name%></li>
    <li>Company: <%= result[0].company_name%></li>
    <li>Skill: <%= result[0].skill_name%></li>
</ul>
</body>

</html>